<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net452" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="3.0.0" targetFramework="net461" />
</packages>